*,
*:before,
*:after {
    box-sizing: border-box;
}

body{
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.intro {
    background: url("../images/header.jpg") no-repeat center;
    margin-top: -80px;
    padding-top: 280px;

}

.header-main-container{
    margin: 0 auto;
    position: center;
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0;
    align-items: center;
    width: 1140px;
    
}

.intro header{
    display: flex;
    height: 80px;
    width: 100%;
    padding-right: 20px !important;
    padding-left: 20px !important;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,.12);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,.12);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,.12);
    position: fixed;
    top: 0;
}

.header-logo{
    flex-grow: 1;
    margin-left: 5px;
    display: flex;
    justify-content: left;
    align-items: center;
    
    font-size: 16px;
}

.header-logo img {
    height: 40px;
    
}

.header-control{
display: flex;
align-items: center;
}

.header-control a {
    color: #fff;
    height: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 700;
    text-transform: initial;
    font-style: normal;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin: 0;
    outline: none;
    text-decoration: none;
    letter-spacing: 2px;
}

.ByButton {
    padding-top: 7px;
    padding-right: 20px;
    padding-bottom: 7px;
    padding-left: 20px;
    border-width: 0px;
    border-radius: 4px;
    background-color: #783bff;
    font-size: 16px;
    font-weight: 700;
    text-transform: initial;
    font-style: normal;
    color: #fff;
    line-height: 1.6;
}

.intro-text {
    color: #fff;
    text-align: center;
    width: 1140px;
    margin: 0 auto
}

.intro-text h1 {
    font-size: 84px;
margin: 0 0 20px;
line-height: 1;
}

.intro-text p {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 40px;
}

.intro-text button {
    font-weight: 700;
    background-color: #783bff;
    border-radius: 4px;
    border-width: 0px;
    padding: 20px 60px;
    color: #fff;
    font-size: 20px;
}

.intro-image{
    background-image: url("../images/hero-typer-pages-scaled.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 1750px auto;
    padding: 500px 0 0;
}    








.section2{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    
}

.section2-inner{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    max-width: 760px;
    font-weight: 700;
    letter-spacing: 2px;
}

.section2-inner h2 {
    color: #50e3c2;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 100px;
}
.section2-inner h1{
    margin-top: 20px;
font-size: 64px;
color: #18214d;
}

.features{
    display: flex;
    flex-wrap: wrap;
    margin: 95px 0;
}

.features__item{
    width: 33.33333%;
    padding: 0 40px;
    margin: 25px 0;
    text-align: center;
}

.features__title{
    color: #18214d;
    font-size: 22px;
    font-weight: 700;
}

.elementor-divider-separator{
    width: 10%;
    margin: 0 auto;
    border-top: 3px solid #50e3c2;
}

.features__text{
    color:#3e4462;
    position: relative;
    max-width: 760px;
    text-align: center;
    font-family: Mukta;
    font-weight: 400;
    font-size: 18.08px;
}

.elementor-rows{
    display: flex;
    margin: 95px 0;
    padding: 0 50px;
    box-sizing: border-box;
    position: relative;
    align-content:center;
    align-items:center;
    margin: 25px 0;
}



.footer {
    background-color: #3a3e64;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0;
}

.footer__block {
    width: 33.33333%;
    padding: 0 15px;

    text-align: center;
}

.footer__title {
    margin-bottom: 10px;

    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.footer__address {
    font-size: 14px;
    line-height: 1.5;
    font-style: normal;
    color: rgba(255, 255, 255, .5);
}

.footer__text {
    font-size: 14px;
    line-height: 1.5;
    color: rgba(255, 255, 255, .5);
}

.copyright {
    padding: 20px 0;

    background-color: #313454;
}

.copyright__text {
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    color: #808080;
}

